<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>hey man hoe are you</h1>

    <table border="1" width="80%">
        <tr>
            <th>s.no</th>
            <th>name</th>
            <th>email</th>
            <th>phone no</th>
        </tr> 

        {{ if(naming.length > 0){
        for(var i = 0;i<naming.length;i++){ <tr>
            <td>{{naming[i].id}}</td>
            <td>{{naming[i].name}}</td>
            <td>{{naming[i].email}}</td>
            <td>{{naming[i].phone}}</td>
            </tr>

            } }else{
            <h1>chandan family data not found</h1>
            }

            }}
    </table>
</body>

</html>